<p id="notice"><%= notice %></p>

<h1>User Event Data</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Type</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_event_data.each do |user_event_datum| %>
      <tr>
        <td><%= user_event_datum.user_id %></td>
        <td><%= user_event_datum.event_type %></td>
        <td><%= user_event_datum.value %></td>
        <td><%= link_to 'Show', user_event_datum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
